html,body,#root{
  margin:0;
  padding: 0;
  text-align: center;
  /* height:100%; */
  /* background-image: linear-gradient(lightgrey,lightskyblue); */
  background-color:lightgray;
}

.Box {
  display: inline-block;
  width:400px;
  height: 450px;
  text-align: center;
  margin:50px auto;
  margin-left: 50px;
  margin-right: 50px;
  border:1px solid white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.registrationBox {
  display: inline-block;
  width:400px;
  height: 450px;
  text-align: center;
  margin:50px auto;
  margin-left: 50px;
  margin-right: 50px;
  border:1px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.AddBox {
  display: inline-block;
  width:350px;
  height: 550px;
  text-align: center;
  margin:50px auto;
  border:1px solid lightblue;
  padding: 10px;
  
}

.adminBox {
  display: inline-block;
  width:400px;
  height: 450px;
  text-align: center;
  margin:50px auto;
  margin-left: 50px;
  margin-right: 50px;
  border:1px solid lightblue;
  padding: 10px;
  border-radius: 10px;
}

img{
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
}